.section {
    width: 600px;
    height: 500px;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 1rem;
    box-shadow: 1 1 3px #00000080;
    border-radius: 1rem;
    @media screen and (max-width: 1200px) {
        width: 90%;
    }
}
